doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    include blocks/header.pug
    h1 ЗАГОЛОВОК H1
    .test
      include blocks/footer.pug